.container {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px
}


#jobs{
    display: none;
}

.column,
.columns,
.container {
    width: 100%;
    box-sizing: border-box
}

.column,
.columns {
    float: left
}

@media (min-width:400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width:750px) {
    .container {
        width: 80%
    }

    .column,
    .columns {
        margin-left: 4%
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%
    }

    .two.columns {
        width: 13.3333333333%
    }

    .three.columns {
        width: 22%
    }

    .four.columns {
        width: 30.6666666667%
    }

    .five.columns {
        width: 39.3333333333%
    }

    .six.columns {
        width: 48%
    }

    .seven.columns {
        width: 56.6666666667%
    }

    .eight.columns {
        width: 65.3333333333%
    }

    .nine.columns {
        width: 74%
    }

    .ten.columns {
        width: 82.6666666667%
    }

    .eleven.columns {
        width: 91.3333333333%
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0
    }

    .one-third.column {
        width: 30.6666666667%
    }

    .two-thirds.column {
        width: 65.3333333333%
    }

    .one-half.column {
        width: 48%
    }

    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%
    }

    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%
    }

    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%
    }

    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%
    }

    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78%
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%
    }
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.5em;
    line-height: 1.3;
    font-weight: 400;
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, sans-serif;
    color: #191847
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300
}

h1 {
    font-size: 4rem;
    line-height: 1.2
}

h1,
h2 {
    letter-spacing: -.1rem
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25
}

h3 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -.1rem
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem
}

h5 {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -.05rem
}

h6 {
    font-size: 1.7rem;
    line-height: 1.6;
    letter-spacing: 0
}

@media (min-width:550px) {
    h1 {
        font-size: 4.4rem
    }

    h2 {
        font-size: 4.2rem
    }

    h3 {
        font-size: 3.6rem
    }

    h4 {
        font-size: 3rem
    }

    h5,
    h6 {
        font-size: 2rem
    }
}

p {
    margin-top: 0
}

a {
    color: #1eaedb
}

a:hover {
    color: #0fa0ce
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    display: inline-block;
    height: 48px;
    padding: 2px 12px 8px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: .01em;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2E176A;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    color: #fff;
    outline: 0;
    background-color: #FE7624
}

.button.button-primary,
button.button-primary,
input[type=button].button-primary,
input[type=reset].button-primary,
input[type=submit].button-primary {
    color: #fff;
    background-color: #2E176A
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type=button].button-primary:focus,
input[type=button].button-primary:hover,
input[type=reset].button-primary:focus,
input[type=reset].button-primary:hover,
input[type=submit].button-primary:focus,
input[type=submit].button-primary:hover {
    color: #fff;
    background-color: #FE7624
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    border: 1px solid #33c3f0;
    outline: 0
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type=checkbox],
input[type=radio] {
    display: inline
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

ol,
ul {
    padding-left: 0;
    margin-top: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

li {
    margin-bottom: 1rem
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

th {
    font-weight: 600
}

td,
th {
    padding: 12px 4px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1
}

td:first-child,
th:first-child {
    padding-left: 0
}

td:last-child,
th:last-child {
    padding-right: 0
}

.button,
button {
    margin-bottom: 1rem
}

fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 2.5rem
}

.u-full-width {
    width: 100%;
    box-sizing: border-box
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both
}

body {
    margin: 0;
    padding: 0;
    letter-spacing: -.04em;
    font-family: Work Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::selection {
    background: #f8e4b5;
    color: #000
}

::-moz-selection {
    background: #f8e4b5;
    color: #000
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.right-align {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.u-grey a,
.u-grey a:hover {
    color: #afb9c5
}

.u-blue a,
.u-blue a:hover {
    color: #2e176a
}

.center-box {
    display: flex;
    align-items: center
}

@media only screen and (max-width:800px) {
    .center-box {
        content: "";
        display: table;
        clear: both
    }
}

.secondary {
    color: #2E176A;
    background-color: #fff;
    border: 1px solid #2E176A;
    margin-left: 12px
}

.secondary:focus,
.secondary:hover {
    color: #FE7624;
    background-color: #fff;
    border: 1px solid #FE7624
}

.buttonColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.activeDetailButton,
.detailButton {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 100px;
    margin-right: 1em;
    margin-top: 1em;
    cursor: pointer
}

.activeDetailButton {
    text-decoration: underline;
    background-color: #ffdab9
}

#intro .container {
    padding-top: 4em;
    padding-bottom: 4em
}

#intro h1 {
    font-weight: 700;
    margin-top: .25em;
    margin-bottom: .5em
}

#intro h5 {
    font-weight: 400;
    letter-spacing: -.04em;
    margin-bottom: 1em
}

#intro .link {
    font-weight: 600;
    color: #2E176A;
    text-decoration: none
}

#jobs {
    background-color: #fcfcfc
}

#jobs .container {
    padding-top: 4em;
    padding-bottom: 4em
}

#jobs table {
    padding-top: 2em
}

#jobs a {
    text-decoration: none;
    color: #2E176A;
    margin-right: 2em
}

#jobs h5 {
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: .25em
}

#jobs form,
input {
    margin-bottom: 0
}

#jobs .searchBar {
    width: 100%;
    font-size: 1em;
    border: 1px solid #e1e1e1;
    height: 40px
}

#jobs .searchBar:focus {
    height: 40px;
    border: 1px solid #2E176A
}

@media only screen and (max-width:750px) {

    .searchBar,
    .searchBar:focus {
        margin-top: 2em
    }
}

#jobs .errorText {
    font-weight: 400;
    padding-top: 2em
}

@media only screen and (max-width:550px) {
    .footer-links {
        justify-content: flex-start
    }
}

.header {
    height: 72px;
    display: flex;
    width: 100%;
    margin-bottom: 4em
}

li,
ul {
    margin: 0
}

.header li {
    list-style: none;
    display: inline-block
}

.header li a {
    color: #dbdbdb;
    text-decoration: none;
    letter-spacing: .02em;
    font-size: 1.8rem;
    margin-right: 1.2em
}

.header li a:hover {
    color: #fff
}

img {
    display: block;
    width: 100%;
    float: left
}

@media only screen and (max-width:750px) {
    img {
        display: none
    }
}

@media only screen and (max-width:400px) {
    #intro .container {
        padding-top: 8em
    }
}

.button-secondary {
    display: inline-block;
    height: 48px;
    padding: 2px 12px 8px;
    color: #2E176A;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: .01em;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #2E176A
}

.button-secondary:focus,
.button-secondary:hover {
    color: #FE7624;
    border: 1px solid #FE7624
}

.button {
    margin-right: 8px
}

#announcement .container {
    background-color: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .05);
    border: 1px solid #f97068;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 2em;
    width: 90%
}

#announcement p {
    margin: 0
}

#announcement a {
    text-decoration: none;
    color: #2E176A
}

#announcement .first {
    margin-bottom: .75em
}

.activeDetailButton {
    background-color: #ebedff;
    outline: none;
    text-decoration: none;
    border: 1px solid #2E176A;
    color: #2E176A;
    margin-right: .5em
}

.detailButton {
    margin-right: .5em
}

.detailButton:hover {
    outline: none;
    text-decoration: none;
    border: 1px solid #2E176A;
    color: #2E176A;
    margin-right: .5em
}

@media screen and (max-width:600px) {
    .details-column {
        visibility: hidden;
        display: none
    }
}

.modal {
    display: show;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal-content {
    background-color: #fafafa;
    margin: 12% auto;
    padding: 24px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    width: 480px
}

@media screen and (max-width:600px) {
    .modal-content {
        width: 80%
    }
}

#myModal h1 {
    font-weight: 600
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.button-red {
    display: inline-block;
    padding: 12px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .01em;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #f63228;
    border: 1px solid #f63228
}

.button-red:focus,
.button-red:hover {
    color: #fff;
    background-color: #f97c76;
    border: 1px solid #f97c76
}

#banner h5,
p {
    margin-bottom: 1.5rem
}

#banner .button-red {
    margin-bottom: .5rem
}

#banner .container {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border: 1px solid #f63228;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 2em;
    width: 90%
}

/*# sourceMappingURL=main.47b7974c.chunk.css.map */